@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 10px;
    background-color: rgb(99, 129, 164);
}
header, footer{
    text-align: center;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.214);
}

header{

    z-index: 1;
    margin: -10px;
    position: sticky;
    top: -1px;
    left: 0px;
    margin-bottom: 10px;
    background-color: rgb(57, 78, 103);
}

nav{
    width: 320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
}

main{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.362);
    padding: 10px 50px;
    background-color: white;
    margin: auto;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
}

main > img{
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.441);
    height: 150px;
    width: 150px;
    background-color: black;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

main p{
    text-align: center;
    margin-bottom: 20px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section div{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.392);
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(74, 120, 189);
    margin-bottom: 10px;
    width: 32%;
    transition: transform 1s;
    overflow: hidden;
}
section > div:hover{
    transform: translateY(-10px);
    
}

section div img:hover{
    /* background-size: calc(100%+30px); */
    overflow: hidden;
    transform: scale(1.2);
}

section div h2{
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

section div div{
    width: 100%;
}

div img{

    border-radius: 10px;
    background-color: black;
    border: 0px solid black;
    background: black no-repeat center center;
    background-size: contain;
    width: 100%;
}

main a{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    height: 32px;
    background-color: white;
    color: black;
    border: 0px solid black;
    width: 100%;
}
